<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from 104.237.3.115/altena/src/login.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 22 Jun 2017 15:02:21 GMT -->
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Altena | login</title>
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/icon" href="images/favicon.ico" />
    <!-- Bootstrap -->
    <link href="~/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="~/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="~/vendors/nprogress/nprogress.css" rel="stylesheet">
    <!-- Animate.css -->
    <link href="~/vendors/animate.css/animate.min.css" rel="stylesheet">

    <!-- Custom Theme Style -->
    <link href="~/css/custom.min.css" rel="stylesheet">

 
</head>

<body class="login">
    <div>
        <a class="hiddenanchor" id="signup"></a>
        <a class="hiddenanchor" id="signin"></a>

        <div class="login_wrapper">
            <div class="animate form login_form">
                <section class="login_content">
                    <h1><a href="index.html" class="site_title"><i class="fa fa-adjust"></i> <span class="logo-f">Cam<span class="logo-s">Pastel</span></span></a></h1>
                   @RenderBody()

                    <div>
                        <p style="color: #999;">© 2017 All Rights Reserved. Admin</p>
                    </div>
                </section>
            </div>

            <div id="register" class="animate form registration_form">
                <section class="login_content">
                    <h1><a href="index.html" class="site_title"><i class="fa fa-adjust"></i> <span class="logo-f">Alte<span class="logo-s">na</span></span></a></h1>
                    <form>
                        <h1>Sign Up</h1>
                        <div>
                            <input type="text" class="form-control" placeholder="Username" required="" />
                        </div>
                        <div>
                            <input type="email" class="form-control" placeholder="Email" required="" />
                        </div>
                        <div>
                            <input type="password" class="form-control" placeholder="Password" required="" />
                        </div>
                        <div>
                            <a class="btn btn-default submit" href="index.html">Submit</a>
                        </div>

                        <div class="clearfix"></div>

                        <div class="separator">
                            <p class="change_link">
                                Already have account ?
                                <a href="#signin" class="to_register"> Sign In! </a>
                            </p>
                        </div>
                    </form>
                    <div>
                        <p style="color: #999;">© 2017 All Rights Reserved. Admin Template</p>
                    </div>
                </section>
            </div>
        </div>
    </div>
</body>
</html>
