<!-- Slider y Nuevos Productos-->
<section class="section light-backgorund">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-md-3">
                <div class="navbar-vertical">
                    <ul class="nav nav-stacked">
                        <li class="header">
                            <h6 class="text-uppercase">Categorias <i class="fa fa-navicon pull-right"></i></h6>
                        </li>
                        <li>
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                Linea Regular <i class="fa fa-angle-right pull-right"></i>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="javascript:void(0);">Shirts</a></li>
                                <li><a href="javascript:void(0);">Coats & Jackets</a></li>
                                <li><a href="javascript:void(0);">Underwear</a></li>
                                <li><a href="javascript:void(0);">Sunglasses</a></li>
                                <li><a href="javascript:void(0);">Socks</a></li>
                                <li><a href="javascript:void(0);">Belts</a></li>
                            </ul>
                        </li>
                        
                        <li><a href="javascript:void(0);">Kids</a></li>
                        <li><a href="javascript:void(0);">Fashion</a></li>
                     
                        <li><a href="javascript:void(0);">Bags</a></li>
                        <li><a href="javascript:void(0);">Shoes</a></li>
                        <li><a href="javascript:void(0);">HouseHolds</a></li>
                       
                    </ul>
                </div><!-- end navbar-vertical -->

                <hr class="spacer-20 no-border">

                <div class="widget hidden-xs">
                    <h6 class="subtitle text-uppercase">Más Vendidos </h6>

                    <ul class="items">
                        <li>
                            <a href="shop-single-product-v1.html" class="product-image">
                                <img src="~/img/products/men_01.jpg" alt="Sample Product ">
                            </a>
                            <div class="product-details">
                                <p class="product-name">
                                    <a href="shop-single-product-v1.html">Printed Summer Dress</a>
                                </p>
                                <span class="price text-primary">$19.99</span>
                                <div class="rate text-warning">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                            </div>
                        </li><!-- end item -->
                        <li>
                            <a href="shop-single-product-v1.html" class="product-image">
                                <img src="~/img/products/women_02.jpg" alt="Sample Product ">
                            </a>
                            <div class="product-details">
                                <p class="product-name">
                                    <a href="shop-single-product-v1.html">Printed Summer Dress</a>
                                </p>
                                <span class="price text-primary">$29.99</span>
                                <div class="rate text-warning">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                            </div>
                        </li><!-- end item -->
                        
              
               
                    </ul>
                </div><!-- end widget -->
            </div><!-- end col -->


            <div class="col-sm-8 col-md-9">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="owl-carousel slider owl-theme">
                            <div class="item">
                                <figure>
                                    <a href="javascript:void(0);">
                                        <img src="~/img/slider/slider_10.jpg" alt="" />
                                    </a>
                                </figure>
                            </div><!-- end item -->
                            <div class="item">
                                <figure>
                                    <a href="javascript:void(0);">
                                        <img src="~/img/slider/slider_09.jpg" alt="" />
                                    </a>
                                </figure>
                            </div><!-- end item -->
                           
                        </div><!-- end owl carousel -->
                    </div><!-- end col -->
                </div><!-- end row -->

                <hr class="spacer-20 no-border">

                <div class="row">
                    <div class="col-sm-12">
                        <h6 class="ml-5 mb-20 text-uppercase"><span class="text-primary">Nuevos</span> Pasteles</h6>
                    </div><!-- end col -->
                    <div class="col-sm-12">
                        <div class="owl-carousel column-3 owl-theme">
                            <div class="item">
                                <div class="thumbnail store style1">
                                    <div class="header">
                                        <figure class="layer">
                                            <a href="javascript:void(0);">
                                                <img src="~/img/products/technology_03.jpg" alt="">
                                            </a>
                                        </figure>
                                        <div class="icons">
                                            <a class="icon semi-circle" href="javascript:void(0);"><i class="fa fa-heart-o"></i></a>
                                            <a class="icon semi-circle" href="javascript:void(0);"><i class="fa fa-gift"></i></a>
                                            <a class="icon semi-circle" href="javascript:void(0);" data-toggle="modal" data-target=".productQuickView"><i class="fa fa-search"></i></a>
                                        </div>
                                    </div>
                                    <div class="caption">
                                        <h6 class="regular"><a href="@Url.Action("mostrardetalleproducto", "MostrarDetalleProducto")">Pastel Chocolate</a></h6>
                                        <div class="price">
                                            <small class="amount off">$68.99</small>
                                            <span class="amount text-primary">$59.99</span>
                                        </div>
                                        <a href="javascript:void(0);"><i class="fa fa-cart-plus mr-5"></i>Añadir al carrito</a>
                                    </div><!-- end caption -->
                                </div><!-- end thumbnail -->
                            </div><!-- end item -->
                            <div class="item">
                                <div class="thumbnail store style1">
                                    <div class="header">
                                        <figure class="layer">
                                            <a href="javascript:void(0);">
                                                <img src="~/img/products/technology_02.jpg" alt="">
                                            </a>
                                        </figure>
                                        <div class="icons">
                                            <a class="icon semi-circle" href="javascript:void(0);"><i class="fa fa-heart-o"></i></a>
                                            <a class="icon semi-circle" href="javascript:void(0);"><i class="fa fa-gift"></i></a>
                                            <a class="icon semi-circle" href="javascript:void(0);" data-toggle="modal" data-target=".productQuickView"><i class="fa fa-search"></i></a>
                                        </div>
                                        <ul class="countdown-product">
                                            <li>
                                                <span class="days">00</span>
                                                <p>Days</p>
                                            </li>
                                            <li>
                                                <span class="hours">00</span>
                                                <p>Hours</p>
                                            </li>
                                            <li>
                                                <span class="minutes">00</span>
                                                <p>Mins</p>
                                            </li>
                                            <li>
                                                <span class="seconds">00</span>
                                                <p>Secs</p>
                                            </li>
                                        </ul><!-- end countdown -->
                                    </div>
                                    <div class="caption">
                                        <h6 class="regular"><a href="shop-single-product-v1.html">Lorem Ipsum dolor sit</a></h6>
                                        <div class="price">
                                            <small class="amount off">$68.99</small>
                                            <span class="amount text-primary">$59.99</span>
                                        </div>
                                        <a href="javascript:void(0);"><i class="fa fa-cart-plus mr-5"></i>Add to cart</a>
                                    </div><!-- end caption -->
                                </div><!-- end thumbnail -->
                            </div><!-- end item -->
                            
                       
                        </div><!-- end owl carousel -->
                    </div><!-- end col -->
                </div><!-- end row -->
            </div><!-- end col -->
        </div><!-- end row -->
    </div><!-- end container -->
</section>
