@model TrabajoFinal.Models.Categoria

@{
    ViewBag.Title = "Delete";
}
<div class="right_col bg_fff" role="main">
    <div class="col-md-12 col-sm-12 col-xs-12">
        

        <h3>Desea Eliminar Esta Categoria?</h3>
        <div>
            <h4>Categoria</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Denominacion)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Denominacion)
                </dd>

            </dl>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <div class="form-group">
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <button type="submit" value="Delete" class="btn btn-info">
                                <i class="fa fa-check"></i> Eliminar
                            </button>
                        </li>
                        <li>
                            <button class="btn btn-info">
                                <i class="fa fa-check"></i> @Html.ActionLink("Volver Lista", "Index")
                            </button>

                        </li>
                      
                    </ul>
                </div>


                    }
                </div>
</div>
</div>