@model TrabajoFinal.Models.Producto

    <div class="breadcrumbs">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                   
                </div><!-- end col -->
            </div><!-- end row -->
        </div><!-- end container -->
    </div><!-- end breadcrumbs -->
    <!-- start section -->
    <section class="section white-backgorund">
        <div class="container">
            <div class="row">
                <!-- start sidebar -->
                <div class="col-sm-4">
                    <div class='carousel slide product-slider' data-ride='carousel' data-interval="false">
                       
                        <div class='carousel-inner'>
                        
                            @foreach (var item in ViewBag.Unaimagen)
                            {

                            <div class='item active'>
                                <figure>
                                    <img src='~/ImgProductos/@item.Imagen' alt='' />
                                </figure>
                            </div><!-- end item -->
                            }

                                @foreach (var item in ViewBag.listaimagen)
                                {
                            <div class='item'>
                                <figure>
                                    <img src='~/ImgProductos/@item.Imagen' alt='' />
                                </figure>
                            </div><!-- end item -->
                         
                            <!-- Arrows -->
                            }
                        </div><!-- end carousel-inner -->
                        <!-- thumbs -->
                        <ol class='carousel-indicators mCustomScrollbar meartlab'>
                            @foreach (var item in ViewBag.listaimagen)
                                    {
                                        var a = 0;
                                <li data-target='.product-slider' data-slide-to='@item.ProductoImagenId' class='active'><img src='~/ImgProductos/@item.Imagen' alt='' /></li>
                                a++;

                            }
                            @*<li data-target='.product-slider' data-slide-to='0' class='active'><img src='~/img/bg_01.jpg' alt='' /></li>
                            <li data-target='.product-slider' data-slide-to='1'><img src='~/ImgProductos/no_disponible.jpg' alt='' /></li>
                            <li data-target='.product-slider' data-slide-to='2'><img src='~/ImgProductos/no_disponible.jpg' alt='' /></li>
                            <li data-target='.product-slider' data-slide-to='3'><img src='~/ImgProductos/no_disponible.jpg' alt='' /></li>*@
                            
                        </ol><!-- end carousel-indicators -->
                    </div><!-- end carousel -->
                </div><!-- end col -->
                <!-- end sidebar -->


                <!-- PRODUCTO -->
                <div class="col-sm-8">
                    <div class="row">
                        <div class="col-sm-12">
                            <h2 class="title">@Model.Denominacion</h2>
                        

                            <ul class="list list-inline">
                              
                                <li><h5 class="text-primary">S/. @Model.Precio</h5></li>
                                <li>
                                    <i class="fa fa-star text-warning"></i>
                                    <i class="fa fa-star text-warning"></i>
                                    <i class="fa fa-star text-warning"></i>
                                    <i class="fa fa-star text-warning"></i>
                                    <i class="fa fa-star-half-o text-warning"></i>
                                </li>
                                <li><a href="javascript:void(0);">(4 reviews)</a></li>
                            </ul>
                        </div><!-- end col -->
                    </div><!-- end row -->

                    <hr class="spacer-5"><hr class="spacer-10 no-border">

                    <div class="row">
                        <div class="col-sm-12">
                            <p>@Model.Descripcion</p>
                          
                            <hr class="spacer-15">
                            <div class="row">
                            
                            
                                <div class="col-md-4 col-sm-12">
                                    <select class="form-control" name="select">
                                        <option value="" selected>Cantidad</option>
                                        <option value="">1</option>
                                        <option value="">2</option>
                                 
                                    </select>
                                </div><!-- end col -->
                            </div><!-- end row -->
                            <hr class="spacer-15">

                            <ul class="list list-inline">
                                <li><button type="button" class="btn btn-default btn-md round"><i class="fa fa-shopping-basket mr-5"></i>Añadir al carrito</button></li>
                                <li><button type="button" class="btn btn-gray btn-md round"><i class="fa fa-heart mr-5"></i>Añadir lista de deseos</button></li>
                                <li>Compartir este pastel </li>
                                <li>
                                    <ul class="social-icons style1">
                                        <li class="facebook"><a href="javascript:void(0);"><i class="fa fa-facebook"></i></a></li>
                                        <li class="twitter"><a href="javascript:void(0);"><i class="fa fa-twitter"></i></a></li>
                                        <li class="pinterest"><a href="javascript:void(0);"><i class="fa fa-pinterest"></i></a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div><!-- end col -->
                    </div><!-- end row -->
                </div><!-- end col -->
            </div><!-- end row -->

            <hr class="spacer-60">

            @*<div class="row">
                <div class="col-xs-12 col-sm-3">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs style2 tabs-left">
                        <li class="active"><a href="#description" data-toggle="tab">Additional Info</a></li>
                        <li><a href="#reviews" data-toggle="tab">Reviews (4)</a></li>
                    </ul>
                </div><!-- end col -->
                <div class="col-xs-12 col-sm-9">
                    <!-- Tab panes -->
                    <div class="tab-content style2">
                        <div class="tab-pane active" id="description">
                            <h5>Información Adicional</h5>
                            <p>
                                Vestibulum tellus justo, vulputate ac nunc eu, laoreet pellentesque erat.
                                Nulla in fringilla ex. Nulla finibus rutrum lorem vehicula facilisis.
                                Sed ornare congue mi, et volutpat diam. Suspendisse eget augue id magna placerat dignissim.
                                Fusce at turpis neque. Nullam commodo consequat risus et iaculis.
                            </p>

                            <hr class="spacer-15">

                            <div class="row">
                                <div class="col-sm-12 col-md-6">
                                    <dl class="dl-horizontal">
                                        <dt>Dimensions</dt>
                                        <dd>120 x 75 x 90 cm</dd>
                                     
                                        <dt>Ingredientes</dt>
                                        <dd>harina de trigo, chocolate</dd>
                                    </dl>
                                </div><!-- end col -->
                                <div class="col-sm-12 col-md-6">
                                    <dl class="dl-horizontal">
                                        <dt>Peso</dt>
                                        <dd>1.65 kg</dd>
                                      
                                    </dl>
                                </div><!-- end col -->
                            </div><!-- end row -->
                        </div><!-- end tab-pane -->

                  
                        <div class="tab-pane" id="reviews">
                            <h5>4 Review for "Lorem ipsum dolor sit amet"</h5>

                            <hr class="spacer-10 no-border">

                            <div class="comments">
                                <div class="comment-image">
                                    <figure>
                                        <img src="~/img/team/team_01.jpg" alt="" />
                                    </figure>
                                </div><!-- end comments-image -->
                                <div class="comment-content">
                                    <div class="comment-content-head">
                                        <h6 class="comment-title">Carlos</h6>
                                        <ul class="list list-inline comment-meta">
                                            <li>
                                                <i class="fa fa-star text-warning"></i>
                                                <i class="fa fa-star text-warning"></i>
                                                <i class="fa fa-star text-warning"></i>
                                                <i class="fa fa-star text-warning"></i>
                                                <i class="fa fa-star text-warning"></i>
                                            </li>
                                        </ul>
                                    </div><!-- end comment-content-head -->
                                    <p> Agradable pastel, para pasar un momento inolvidable con la familia.</p>
                                    <cite>Carlos Bonce</cite>
                                </div><!-- end comment-content -->
                            </div><!-- end comments -->

                            <div class="comments">
                                <div class="comment-image">
                                    <figure>
                                        <img src="~/img/team/team_02.jpg" alt="" />
                                    </figure>
                                </div><!-- end comments-image -->
                                <div class="comment-content">
                                    <div class="comment-content-head">
                                        <h6 class="comment-title">Lorem ipsum dolor sit</h6>
                                        <ul class="list list-inline comment-meta">
                                            <li>
                                                <i class="fa fa-star text-warning"></i>
                                                <i class="fa fa-star text-warning"></i>
                                                <i class="fa fa-star text-warning"></i>
                                                <i class="fa fa-star text-warning"></i>
                                                <i class="fa fa-star-half-o text-warning"></i>
                                            </li>
                                        </ul>
                                    </div><!-- end comment-content-head -->
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae sequi ipsa fugit officia eos! Sapiente laboriosam molestiae praesentium ducimus culpa. Magnam, odit, optio.</p>
                                    <cite>Joe Doe</cite>
                                </div><!-- end comment-content -->
                            </div><!-- end comments -->

                           

                       

                            <hr class="spacer-30">

                            <h5>Comenta</h5>
                            <p>Te agrado este producto?</p>

                            <hr class="spacer-5 no-border">

                            <form>
                                <input type="text" class="rating rating-loading" value="5" data-size="sm" title="">
                            </form>

                            <hr class="spacer-10 no-border">

                            <div class="form-group">
                                <label for="reviewName">Nombre</label>
                                <input type="text" id="reviewName" class="form-control input-md" placeholder="Nombre">
                            </div><!-- end form-group -->
                            <div class="form-group">
                                <label for="reviewEmail">E-mail</label>
                                <input type="text" id="reviewEmail" class="form-control input-md" placeholder="Direccion e-mail">
                            </div><!-- end form-group -->
                            <div class="form-group">
                                <label for="reviewMessage">Mensaje</label>
                                <textarea id="reviewMessage" rows="5" class="form-control" placeholder="Mensaje"></textarea>
                            </div><!-- end form-group -->
                            <div class="form-group">
                                <input type="submit" class="btn btn-default round btn-md" value="Enviar">
                            </div><!-- end form-group -->
                        </div><!-- end tab-pane -->
                    </div><!-- end tab-content -->
                </div><!-- end col -->
            </div><!-- end row -->*@

            <hr class="spacer-60">

            @*<div class="row">
                <div class="col-sm-12">
                    <h4 class="mb-20">Tambien le puede interesar</h4>
                </div><!-- end col -->
            </div><!-- end row -->

            <div class="row">
                <div class="col-sm-12">
                    <div id="owl-demo" class="owl-carousel column-4 owl-theme">
                        <div class="item">
                            <div class="thumbnail store style1">
                                <div class="header">
                                    <figure>
                                        <a href="shop-single-product-v1.html">
                                            <img src="~/img/products/bags_03.jpg" alt="">
                                        </a>
                                    </figure>
                                </div>
                                <div class="caption">
                                    <h6 class="regular"><a href="shop-single-product-v1.html">Printed Summer Dress</a></h6>
                                    <div class="price">
                                        <small class="amount off">$68.99</small>
                                        <span class="amount text-primary">$59.99</span>
                                    </div>
                                    <span class="product-badge bottom left text-warning">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-half-o"></i>
                                        <i class="fa fa-star-o"></i>
                                    </span>
                                </div><!-- end caption -->
                            </div><!-- end thumbnail -->
                        </div><!-- end item -->

                     

                        <div class="item">
                            <div class="thumbnail store style1">
                                <div class="header">
                                    <figure>
                                        <a href="shop-single-product-v1.html">
                                            <img src="~/img/products/hoseholds_01.jpg" alt="">
                                        </a>
                                    </figure>
                                </div>
                                <div class="caption">
                                    <h6 class="regular"><a href="shop-single-product-v1.html">Printed Summer Dress</a></h6>
                                    <div class="price">
                                        <small class="amount off">$68.99</small>
                                        <span class="amount text-primary">$59.99</span>
                                    </div>
                                    <span class="product-badge bottom left text-warning">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-half-o"></i>
                                        <i class="fa fa-star-o"></i>
                                    </span>
                                </div><!-- end caption -->
                            </div><!-- end thumbnail -->
                        </div><!-- end item -->

                    
                    </div><!-- end owl carousel -->
                </div><!-- end col -->
            </div><!-- end row -->*@
        </div><!-- end container -->
    </section>
    <!-- end section -->
  
